<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Historial de Empleados</title>
</head>
<body>
<div class="container">
    <h1>Historial de Empleados</h1>

    <table class="table table-sm">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Puesto</th>
            <th>Departamento</th>
            <th>Fecha de Inicio</th>
        </tr>
        <tr th:each="d : ${listaHistorial}">
            <td th:text="${d.nombre}"></td>
            <td th:text="${d.apellido}"></td>
            <td th:text="${d.puesto}"></td>
            <td th:text="${d.departamento}"></td>
            <td th:text="${d.fechainicio}"></td>
        </tr>
    </table>
</div>
</body>
</html>